.card {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #F1F2FE;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
}

.sourceWrap {
    position: relative;
    background-color: rgb(198, 201, 244);
}

.image {
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image, .video {
    display: block;
    height: 280px;
}

.video {
    object-fit: cover;
    position: relative;
    overflow: hidden;
}
.video video {
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    position: absolute;
    left: -10px;
    display: block;
    object-fit: cover;
}

.puzzle-nftMarketplace-flyBlock {
    background: rgba(24, 25, 49, 0.88);
    border-radius: 20px;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    height: 24px;
    min-width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}

.characteristics {
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: flex;
    align-items: center;
}

.achievements {
    position: absolute;
    bottom: 8px;
    left: 8px;
    height: 35px;
}
.achievements img {
    height: 100%;
}

.puzzle-nftMarketplace-flyBlock_normal {
    position: static;
    padding: 0px 4px;
    cursor: auto;
    margin-left: 10px;
}

.puzzle-nftMarketplace-flyBlock_red {
    background: #ED827E;
}

.puzzle-nftMarketplace-flyBlock_green {
    background: #5d9564;
}

.puzzle-nftMarketplace-flyBlock_purple {
    background: #7075E9;
}

.puzzle-nftMarketplace-flyBlock_right {
    right: 8px;
    left: auto;
}

.puzzle-nftMarketplace-flyBlock__text {
    margin-right: 4px;
    margin-left: 4px;
    line-height: 16px;
    height: 16px;
}

.accountIcon {
    margin-left: 4px;
    width: 16px;
    border-radius: 8px;
    display: block;
}

//.puzzle-nftMarketplace__heartIcon {
//    margin-left: 8px;
//}

.info {
    padding: 16px;
    height: 76px;
    box-sizing: border-box;
    position: relative;
}

.collection {
    font-size: 14px;
    line-height: 20px;
    color: #8082C5;
}
.collection a {
    color: #8082C5;
}
.collection a:hover {
    text-decoration: underline;
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #363870;
}

.actions {
    border-top: 1px solid #F1F2FE;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.likeBlock {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 1;
    cursor: pointer;
    font-size: 14px;
    color: #6563DD;
    display: flex;
    padding: 4px;
    border-radius: 20px;
    box-sizing: border-box;
}

.likeCount {
    margin-left: 4px;
}

.likeBlock:hover {
    background-color: #F8F8FF;
}


//.puzzle-nftMarketplace__button, .puzzle-gateway__button {
//    background: #7075E9;
//    border-radius: 10px;
//    color: #fff;
//    height: 40px;
//    border: none;
//    cursor: pointer;
//    display: block;
//    float: left;
//    margin: 0 4px;
//}
//
//.puzzle-gateway__button {
//    width: 144px;
//}
//
//.puzzle-nftMarketplace__button_cancel {
//    background: #fff;
//    color: #7075E9;
//    border: 1px solid #F1F2FE;
//}
//
//.puzzle-nftMarketplace__button_disabled {
//    background: #C6C9F4;
//    cursor: not-allowed;
//}

.priceCaption {
    font-size: 12px;
    color: #8082C5;
}

.priceValue {
    color: #363870;
    font-weight: 500;
    font-size: 14px;
}

.priceUsdn {
    font-size: 12px;
    color: #363870;
    opacity: 0.9;
    white-space: nowrap;
}

.bidsLink {
    font-size: 12px;
    color: #8082C5;
    white-space: nowrap;
}

.bidsLink:hover {
    text-decoration: underline;
}

.asset {
    display: flex;
    align-items: center;
}

/* @media (max-width: 1180px) {
    .puzzle-nftMarketplace {
        width: 880px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .puzzle-nftMarketplace {
        width: 580px;
        grid-template-columns: repeat(2, 1fr);
    }
} */

@media only screen and (min-width : 320px) {
    .card {
        width: 316px;
        height: 429px;
    }
}