.catalog {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 10px;
    grid-gap: 16px;
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
    align-self: center;
}

@media only screen and (min-width : 320px) {
    .catalog {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width : 480px) {
    .catalog {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width : 768px) {
    .catalog {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width : 992px) {
    .catalog {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width : 1200px) {
    .catalog {
        grid-template-columns: repeat(4, 1fr);
        width: 1160px;
    }
}